
.vs/MyGLRender/v17/Browse.VC.opendb
.vs/MyGLRender/v17/Browse.VC.db
.vs/MyGLRender/v17/Browse.VC.db
/.vs
.vs/MyGLRender/v17/Browse.VC.db
/.vs/MyGLRender/v17/Browse.VC.db
.vs/MyGLRender/v17/Browse.VC.db
